* {
    font-family: 'Lexend', lexend, calibri;
    box-sizing: border-box;

}

html {
    width: 100%;
}

body {
    background-image: url("bkg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100vw;
    padding: 10px;
    align-content: center;
    text-align: center;

}

h1 {
  color: #C4D21C;
  text-align: center;
  margin-left: 50px;
  padding-left: 20px;
  border-left: solid 4px #C4D21C;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 50px;
}


img {

  width: 15%;

}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section p {
  font-weight: bolder;  
  color: #ffffff;
  font-size: 22px;
  margin: auto;

}

.container {
  display: flex;
  margin: auto;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80vw;
  height: 80vh;
}

#p1 {
  height: 120px;
  width: 100%;
  font-size: 75px;
margin-top: 10px;
margin-bottom: 0px;
  background-color: white;
    border: 5px solid black;
    border-radius: 12px;
    display: flex;
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
}

button {
  width: 100%;
  background-color: white;
  border: 5px solid #C4D21C;
  border-radius: 12px;
  font-size: 50px; /* Tamaño de fuente a 60px */
  font-weight: bold; /* Estilo en negrita */
    height: 100px; /* Alto de 100px */
  display: flex;
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  padding: 10px;
cursor: pointer;
}



button:hover {
  background-color: #879304;
  color: #ffffff;

}

button:active {
  background-color: #C4D21C;
  color: #ffffff;
}


footer p {
    font-size: 16px;
    color: #dadada;
    font-weight: bolder;
}

footer {
    margin-top: 25px;
}